<%= link_to "Back to transaction", group_path(@group) %>
<%= render @payment %>

<div>
  <%= link_to "Edit this transaction", edit_group_payment_path(@group, @payment) %> |

  <%= button_to "Destroy this transaction", @group_payment, method: :delete %>
</div>
